<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="main::headstuff">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:replace="index :: global-container"></div>
<form action="#" th:action="@{/processdeposit}" th:object="${transaction}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Account Number: <input type="text" th:field="*{accountNumber}"/><span th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span><br/>

    Action: <input type="text" th:field="*{action}"/><span th:if="${#fields.hasErrors('action')}" th:errors="*{action}"></span><br/>
    Amount: <input type="text" th:field="*{amount}"/><span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span><br/>

    Reason: <input type="text" th:field="*{reason}"/><span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></span><br/>


    <input type="submit" value="Submit"/>




</form>
</body>
</html>