<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:fragment="headstuff">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel ="stylesheet" href = "css/style.css"/>
    <title>SoulTrustBank</title>

</head>
<body>
<nav th:fragment="navclass" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#afua-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">SoulTrustBank</div>
        </div>

        <div class="collapse navbar-collapse" id="afua-navbar">

            <ul class="nav navbar-nav">
                <li><a href="/deposit">Deposit</a></li>
                <li><a href="/withdrawal">Withdrawal</a></li>
                <!--<li><a href="/balance">Balance</a></li>-->
                <li><a href="/acctsummary">Account Summary</a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="container" th:fragment="global-container">

</div>
</body>
</html>