<!DOCTYPE html>
<html lang="en" xmlns:th= "www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<form th:action= "@{/login}" method ="post">

    <div th:if= "${param.error}">Invalid username and password</div>

    <input type="text" name="username" placeholder="Username" required="required" />



    <input type="password" name="password" placeholder="Password" required="required" />


    <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
</form>
</body>
</html>